.producto-detalle .titulo{
    font-size: 22px;
    margin-bottom: 20px;
}

.producto-detalle > img{
    width: 22vw;
}

.producto-detalle .descripcion{
    max-width: 40vw;
    overflow: hidden;
    word-wrap: break-word;
}

.producto-detalle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}