.productsList {
    padding: 0px 3vw;
}

.productsAdmin {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.productsAdmin .itemlist {
    display: flex;
}

.adminTable {
    margin-top: 20px;
}

.adminTable thead th {
    font-size: 25px;
}

.border {
    margin: 10px 0px;
    border-bottom: 1.2px solid #262626;
}

.adminTable tbody tr:last-child td {
    border-bottom: none;
}

.text-end {
    padding: 40px 0px 10px;
}

.text-end input {
    height: 30px;
    width: 300px;
}

.dataTable {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dataTable table {
    width: 100%;
    border-collapse: collapse;
}

.dataTable thead {
    background-color: #e3f2fd;
}

.dataTable th,
.dataTable td {
    padding: 12px 15px;
    text-align: left;
}

.dataTable th {
    font-weight: bold;
    font-size: 16px;
}

.dataTable td {
    font-size: 14px;
}

.dataTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dataTable tbody tr:hover {
    background-color: #f1f1f1;
}

.edit-icon{
    width: 20px;
    height: 20px;
}

.borrar-icon {
    width: 25px;
    height: 25px;
}

.header-table{
    display: flex;
    justify-content: space-between;
    align-content: center;


}

.newProduct-btn, .btn-submit{
    margin: 40px 0px 10px;
    background-color: #EDB300;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    border: 2px solid #EDB300;
    transition: .2s;
    padding: 0.7rem;
    text-decoration: none;
}

.btn-submit{
    width: min-content;
    padding: 0.7rem 2rem;
    justify-self: flex-end;
    margin: 0px;
}


.label{
    width: 150px;
    padding: 0 5px;
}

.form-control{
    height: 25px;
}

.form-create{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    margin: 30px 15vw;
    padding: 20px 20px;
    gap: 20px;
}

.form-item{
    margin: 5px;
    display: flex;
}

.form-item ul li{
    list-style: none;
}

.create-product{
    margin: 20px 0px 0px 30px;
}


.btn-remove{
    margin-left: 10px;
    margin-top: 5px;
}

.btn-Add{
    height: 25px;
}

input[name="marca"],
input[name="titulo"] {
  text-transform: uppercase;
}

.custom-column-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .custom-column-marca {
    text-transform: uppercase;
  }
  