
header{
    background: #EDB300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7.5vw

}

.logo img{
    /* padding: 35px 15px; */
    width: 280px;
}

.search-box{
    display: flex;
    align-items: center;
}

.search-box input{
    width: 27vw;
    height: 40px;
    background: #FFFFFF;
    border: 4px white solid;
    text-indent: 8px;
    font-size: 16px;
}

.search-box input::placeholder{
    padding-left: 10px;
}

.search-box button{
    height: 40px;
    width: 40px;
    border: 4px white solid;
    background: #FFFFFF;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.search-box button img{
    height:25px;
    width: 25px;
}

.btns{
    display: flex;
    flex-direction:row;
    gap: 4vw;
}
.btns a{
    font-weight: 500;
    font-size: 23px;
    line-height: 38,73px;
    text-decoration: none;
    color: white;
}

.menu-link{
    display: flex;
    gap: 5px;
    align-content: center;
}

.search-container {
    margin: 10px 10px;
    position: relative;
}

.results{
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    max-height: 40vh;
    box-shadow: 4px 7px 18px 0px rgba(0,0,0,0.38);
    overflow-y: auto;
}

.results li{
    list-style: none;
    padding: 5px 10px;
}