
header{
    background: #EDB300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 7.5vw;

}

.logo img{
    /* padding: 35px 15px; */
    width: 350px;
}

.search{
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.search input{
    width: 30vw;
    height: 45px;
    background: #FFFFFF;
    border: 4px white solid;
    text-indent: 8px;
    font-size: 16px;
}

.search button{
    height: 45px;
    width: 45px;
    border: 4px white solid;
    background: #FFFFFF;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.search button img{
    height: 30px;
    width: 30px;
}

.btns{
    display: flex;
    flex-direction:row;
    gap: 90px;
}
.btns a{
    font-weight: 500;
    font-size: 23px;
    line-height: 38,73px;
    text-decoration: none;
    color: white;
}