.Filters{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 85vw;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

#filtroBusqueda{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 30px
}

.text{
    color: #EDB300;
    font-weight: 700;
    margin: 0px 30px;
    font-size: 22px;
}

select[name="selectMarca"], select[name="selectPrecio"]  {
    border: 2px black solid;
    font-weight: 700;
    font-size: 20px;
}

.buscar-btn button{
    padding: 1px 10px;
    border: 2px #EDB300 solid;
    color: black;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
}

.nameProduct h4, .Marca{
    text-transform: uppercase;
  }